body{
  font-family: 'Montserrat', sans-serif;

}

#title{
  background-color:#F1C6D3;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;

}




  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    background: #F2D1D1 ;
  }

  #cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
  }

  /* ============================================== Candle
  */

  .velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 950px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}


  /* ============================================== Fire
  */

  .fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
  }
  .fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
  }
  .fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
  }
  .fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
  }
  .fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
  }
  .fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
  }

  /* ============================================== Animation Fire
  */

  @keyframes fuego {
    0%, 100% {
      background: rgba(254, 248, 97, 0.5);
      box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
      transform: translateY(0) scale(1);
    }
    50% {
      background: rgba(255, 50, 0, 0.1);
      box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
      transform: translateY(-20px) scale(0);
    }
  }

  @keyframes in {
    to {
      transform: translateY(0);
    }
  }

  .text {
    color: #8b6a60;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style:italic;
    text-align: center;
  }

  .text>h1 {
      font-size: 1.4em;
    }





#Fotos{

  text-align: center;
  background-color: #F1C6D3;
  color: #fff;
}

 #Carta{
  background-color: #F2D1D1;
  text-align: center;
  padding:7%;
 }

 #Sorpresas{
   padding: 100px;
   text-align: center;
   background-color: #F1C6D3;
 }

 #cta{
   background-color: #F2D1D1;
   text-align: center;
   padding: 5% ;
 }

#footer{
   text-align: center;
   background-color: #fff;
   padding: 2%;
}

h1{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #C295D8;
}
h2{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: #C295D8;
}
h3{
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}

h4{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 2rem;
  color: #fff;
}

h5{
  font-family: 'Montserrat-light', sans-serif;
  font-size: 2rem;
  color: #fff;
}

p{
  color: #8f8f8f;
}

.features-box{
  text-align: center;
  padding: 5%;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}
.navbar{
  padding:0 0 4.5rem;

}


.download-button{
  margin: 5% 3% 5% 0;
}

.img-parent{
  position: relative;
}
.title-image{
  border-radius: 80%;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

.section-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.section-icon:hover{
  color: #ff4c68;
}





.carousel-item{
  padding: 7% ;
}

.carousel-caption{

  margin: : 10px 0px;
}

.pricing-column{
  padding: 3% 2%;
  text-align: center;
}
.cta-text{
  font-family: 'Lobster', cursive;;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color:#C295D8;
  text-align: center;
}

.footer-icon{
  width:2%;
  margin: 0% 0% 3%;
}

@media (max-width: 1028px) {
.footer-icon{
  width: 7%;
}
}
